PROJECT_NAME=<project name>

AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=